/*Jose Antonio*/

*{
    text-decoration: none;
}

.foto {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin: 10px;
    border: 3px solid var(--colorRojo);
    text-align: center;
    line-height: 10px;
}

.producto {
    align-items: center;
    text-align: center;
    width: 12vw;
    height: 100%;
    /* Ajusta según tu necesidad */
    text-align: center;
    border: 1px solid var(--colorNegro);
    padding: 1px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--colorNegro);
    display: inline-block;
}

.producto:hover {
    background-color: #1a1a1a;
    img {
        filter: brightness(1.2);
    }
}
.producto img {
    width: 90%;
    height: 20vw;
    display: flex;
}

.info {
    margin-top: 5px;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
}

.like-btn,
.estrella {
    background: var(--colorBlanco);
    border: none;
    padding: 5px 5px;
    margin: 1Spx;
    border-radius: 5px;
    align-items: left;
}

s .like-btn:hover {
    color: var(colorBlanco);
}

.estrella:hover {
    background: #f8fc0f;
    color: var(--colorRojo);
}

.h4 {
    background-color: var(--colorBlanco);
}

.info-circle {
    width: 30px;
    height: 30px;
    background-color: var(--colorRojo);
    color: var(--colorBlanco);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    /* Hace que sea un círculo */
    cursor: pointer;
    display: inline-block;
}

.info-circle:hover {
    background-color: var(--colorRojoRespaldo);
}