/* Se aplica a todos los elementos  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* para ver el diseño de la web, útli para depurar*/
    background-color: red;
}


/* Contenedor principal
ahora se aplica a todos los dispostivos, aunque corresponde al tamaño grande de la pantalla */

.grid-container {
    display: grid;
    grid-template-areas: "barra1 barra2" "main-content main-content" "footer footer";
    grid-template-rows: 10vh 1fr auto;
    /* Altura: encabezado, contenido flexible, pie */
    grid-template-columns: 5fr 1fr;
    /*250px 1fr; /* Ancho: barra lateral fija, contenido flexible */
    min-height: 100vh;
    margin-left: 2vh;
    margin-right: 2vh;
}


/* Estilo para las áreas */


/*
#barra1 {

    background-color: #4CAF50;
    color: white;
    text-align: left;
}
*/

#barra1 {
    grid-area: barra1;
    display: grid;
    grid-template-areas: "logo opciones";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100%;
    background-color: aqua;
}

.logo {
    grid-area: logo;
    background-color: #4c82af;
}

.logo img {
    width: 100%;
    height: auto;
}

.areaNav1 {
    grid-area: "opciones";
    border-color: red;
}

.areaNav1 h1 {
    grid-area: logo;
    background-color: #4c82af;
}

.areaNav1 ul {
    grid-area: opciones;
    background-color: blueviolet;
}

#barra2 {
    grid-area: barra2;
    background-color: #f4f4f4;
}

.main-content {
    grid-area: main-content;
    background-color: #fff;
    padding: 20px;
}

.footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
    /*Jose Antonio*/
    .foto{
        width: 200px;
        height: 300px;
        object-fit: cover;
        margin: 10px;
        border: 3px solid rgb(245, 3, 3);
       text-align: center;
       line-height: 10px;
       text-align: center
       
      
    }
    .producto {
        width: 225px; /* Ajusta según tu necesidad */
        text-align: center;
        border: 1px solid #06b14d;
        padding: 1px;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
        background-color: #111111;
    }
    
    .producto img {
        width: 90%;
    }
    
    .info {
        margin-top: 0px;
        align-items: center;
        text-align: center;
    }
    
    .like-btn, .estrella {
        background: #f0f0f0;
        border: none;
        padding: 5px 5px;
        margin: 1Spx;
        border-radius: 5px;
        align-items: left;
    }
    s
    .like-btn:hover {
        background: #4CAF50;
        color: white;
    }
    
    .estrella:hover {
        background: #f8fc0f;
        color: rgb(10, 10, 10);
    }
    .h4{
        background-color: #f0f0f0;
    }
    
    
    .info-circle {
        width: 30px;
        height: 30px;
        background-color: #007bff; 
        color: white;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        line-height: 30px;
        border-radius: 50%; /* Hace que sea un círculo */
        cursor: pointer;
        display: inline-block;
    }
    
    .info-circle:hover {
        background-color: #0056b3; 
    }

