:root {
    --colorInterface: #333;
    --colorInterfaceRespaldo: #4e4e4e;
    --colorFondo: #3b3b3b;
    --colorFonfoRespaldo: #2b2b2b;
    --colorRojo: #E50914;
    --colorRojoRespaldo: #a1050d;
    --colorRojoAnimacion: #5a5858;
    --colorBlanco: #ffffff;
    --colorNegro: #000000;
}